* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background:white;
}

h1, h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  border-radius: 5px;
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
}

header {
  padding: 30px;
  background: black;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: larger;
  margin-left: 200px;
}

li {
  list-style: none;
}

.nav-font {
  font-size: 1.75em;
}

.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}

nav a:hover {
  text-decoration: none;
}

nav a {
  color: white;
}

.about-container {
  padding: 30px;
  margin: 20px;
  justify-content: center;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}


.wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}

.card {
  border-radius: 5px;
  height: 400px;
  margin: 2rem;
  position: relative;
  width: 400px;
  background: beige;
}

.card .img-container {
  height: 75%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
<<<<<<< HEAD

=======
>>>>>>> 2d2dcb9ac41144165c0cb1dd4fab37912bf0ab93
}

.card .img-container img {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
<<<<<<< HEAD

=======
>>>>>>> 2d2dcb9ac41144165c0cb1dd4fab37912bf0ab93
}

.card .content {
  font-size: 18px;
<<<<<<< HEAD


=======
>>>>>>> 2d2dcb9ac41144165c0cb1dd4fab37912bf0ab93
  font-weight: bold;
  text-align: center;
}

.card-title{
  margin-top: 10px;
<<<<<<< HEAD

=======
>>>>>>> 2d2dcb9ac41144165c0cb1dd4fab37912bf0ab93
}

.topics {
  font-size: small;
}

form {
  width: 40%;
  margin: 20px;
}

input {
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  box-shadow: 0 0 .5rem black;
}

button {
	border: 0;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;
  background: lightblue;
}

button:hover {
  opacity: .8;
}

.download-link {
  text-decoration: underline;
}

.footer { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
} 

.icon {
  padding: 10px;
}

.download-link {
  text-decoration: underline;
}